alias_free_torch==0.0.6
diffusers==0.37.0
einops==0.8.2
librosa==0.11.0
pandas==2.3.3
PyYAML==6.0.3
soundfile==0.13.1
tqdm==4.67.3
transformers==5.3.0
vector_quantize_pytorch==1.27.21
torch==2.10.0
torchaudio==2.10.0
julius==0.2.7
torch_stoi==0.2.3
flatten-dict==0.4.2
tensorboard==2.20.0
randomname==0.2.1
argbind==0.3.9
sentencepiece==0.2.1
accelerate==1.13.0
ffmpy==1.0.0
importlib_resources==6.5.2
